strong {
    font-weight: normal;
    background: linear-gradient(transparent 60%, #ff6 60%);
}

blockquote{
    background: #e9f3f3;
}
blockquote cite{
    display: block;
    font-size: 0.8rem;
    color: #997bad;
    text-align: right;
    padding: 10px;
}

h3 {
color: #333;
padding: .5em 1em;
margin-top: 40px;
border-left: 8px solid #009bc6;
background-color: #e6f0f0
}

#content-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

@media (min-width: 768px) {
    #content-inner {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}
